{% extends 'base.html.twig' %}

{% block title %}Liste des employés - TaskLinker{% endblock %}

{% block header %}<h1>Équipe</h1>{% endblock %}

{% block body %}
    <form action="" method="get">
        <input
            type="search"
            placeholder="Tapez votre recherche ici"
            id="search"
            name="search"
            value="{{ app.request.get('search') }}"
        >
        <button class="button-submit" type="submit">Rechercher</button>
    </form>
    <table id="team-container">
        <thead>
        <tr>
            <th>Prénom, Nom</th>
            <th>Role</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>
                <div class="employee-infos">
                    <div class="employee-avatar">
                        {{ employee.firstname|first ~ employee.lastname|first }}
                    </div>
                    <div class="employee-coords">
                        <strong>{{ employee.firstname ~ ' ' ~ employee.lastname }}</strong>
                        <span>{{ employee.email }}</span>
                    </div>
                </div>
            </td>
            <td>{{ employee.rolelabels|join(',') }}</td>
            <td>{{ employee.status.value }}</td>
            <td>
                <a class="button button-edit-team" href="{{ path('app_employee_edit', {employee: employee.id}) }}">
                    Éditer
                </a>
                <form
                    action="{{ path('app_employee_delete', {'employee': employee.id}) }}"
                    method="POST" onsubmit="return confirm('Supprimer cet employé ?');"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_employee' ~ employee.id) }}">
                    <button class="delete-team" type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        {% else %}
            <div>
                Aucun employé n'est enregistré.
            </div>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if data.currentPage == 1 %}
        {% else %}
            <a
                href="{{ path('app_employee',{search: data.search, currentPage: data.currentPage - 1}) }}"
            >
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        {% endif %}
        <span class="pagination-pages">{{ data.currentPage }} sur {{ data.totalPages }}</span>
        {% if data.currentPage == data.totalPages %}
        {% else %}
        <a
            href="{{ path('app_employee',{search: data.search, currentPage: data.currentPage + 1}) }}"
        >
            <i class="fa-solid fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>
{% endblock %}
